body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    overflow-x: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

@keyframes apper {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.quest-container {
    background-image: url('../../images/questBG.JPG');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    animation: apper 1s ease;
}


.ink-container,
.draws-container {
    position: absolute;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ink-container {
    right: 0;
}

.ink-container.apper {
    transform: scale(2);
    text-shadow: 0 0 5px #C3B27F, 
               0 0 10px #C3B27F, 
               0 0 15px #C3B27F; 
}

.ink-container {
    transition: transform 1s ease;
}

.ink-container .lore-text,
.draws-container .lore-text {
    font-size: 14px;
    margin: 5px;
}

.ink,
.draws {
    background-color: #C3B27F;
    border: 5px solid #5B296E;
    width: 8vh;
    height: 8vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    margin-top: 2px;
}

.ink-inner,
.draws-inner {
    background-color: #1D173B;
    width: 30%;
    height: 40%;
    border: 4px solid #332A60;
    color: #C3B27F;
    padding: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    font-size: 18px;
}

.title {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.lore-text {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #C3B27F;
    text-shadow: 0 0 5px #000, 
               0 0 10px #000, 
               0 0 15px #000;  
}

.lore-zone {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.middle-zone,
.game-zone {
    display: flex;
    width: 100%;
    height: 38%;
}

.first-column,
.second-column,
.third-column {
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.discard-zone,
.deck-zone,
.hand-zone {
    background-color: rgb(40, 40, 76, 0.5);
    width: 20%;
    height: 100%;
    border-radius: 5px;
    height: 28vh;
    width: auto;
    max-width: 300px;
    aspect-ratio: 733 / 1024;
    margin-right: 25px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.deck-cards {
    color: white;
    font-size: large;
    position: absolute;
    text-shadow: 0 0 5px #C3B27F, 
               0 0 10px #C3B27F, 
               0 0 15px #C3B27F;
}

.end-turn-btn span {
    margin: 10px;
    width: 100%;
}

.third-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.game-zone {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-zone {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

.game-zone::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

.game-zone .body-card {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@keyframes apperPreview {
  from {
    transform: translate(-50%, -50%) scale(1);
    height: 10%;
  }
  to {
    transform: translate(-50%, -50%);
    height: 80%;
  }
}

@keyframes rotateCard {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
  }
  12.5% {
    transform: translate(-50%, -50%) rotateZ(2deg) rotateY(5deg) rotateX(5deg);
  }
  25% {
    transform: translate(-50%, -50%) rotateZ(4deg) rotateY(10deg) rotateX(10deg);
  }
  37.5% {
    transform: translate(-50%, -50%) rotateZ(2deg) rotateY(5deg) rotateX(5deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
  }
  62.5% {
    transform: translate(-50%, -50%) rotateZ(-2deg) rotateY(-5deg) rotateX(-5deg);
  }
  75% {
    transform: translate(-50%, -50%) rotateZ(-4deg) rotateY(-10deg) rotateX(-10deg);
  }
  87.5% {
    transform: translate(-50%, -50%) rotateZ(-2deg) rotateY(-5deg) rotateX(-5deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
  }
}

.preview-card {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    animation: apperPreview 0.5s ease;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 2000px;
    height: 80%;
    aspect-ratio: 733 / 1024;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.animated-preview {
  animation: rotateCard 4s infinite linear;
}

.resolve-button {
    position: fixed;
    right: 10%;
    top: 50%;
    transform: scale(1.5)
}

.resolve-button:hover {
    position: fixed;
    right: 10%;
    top: 50%;
    transform: scale(1.8)
}

.resolve-button span {
  margin: 10px;
}

.duel-zone {
  display-flex: flex;
  position: fixed;
  right: 10%;
  z-index: 2;
}

.duel-zone button {
  margin: 30px;
  z-index: 3;
}

.duel-zone button span {
  margin: 5px 10px;
  min-width: 20vh;
}

.game-card {
  margin: 2vh;
  transition: all 0.5s ease;
}

@keyframes banishCard {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(45deg) scale(1);
  }
}

.banished-card {
  transition: all 0s ease;
  animation: banishCard 0.5s ease;
  transform: rotate(45deg);
}
