.counter-body {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.counter {
    background-image: url('../../../images/loreCounter.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #C3B27F;
    border: 5px solid #5B296E;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    margin: 10px;
    transition: transform 0.5s ease;
}

.counter span {
    margin-top: 20px;
    color: #C3B27F;
    font-size: 20px;
}

.counter.apper {
    transform: scale(1.2);
    text-shadow: 0 0 5px #C3B27F, 
               0 0 10px #C3B27F, 
               0 0 15px #C3B27F; 
}

.number {
    font-size: 20px;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 
               0 0 10px #fff, 
               0 0 15px #fff;  
}

.number.special {
    color: #C3B27F;
    text-shadow: 0 0 5px #C3B27F, 
               0 0 10px #C3B27F, 
               0 0 15px #C3B27F;  
}

.sides {
    width: 40%;
}

.left-side {
    align-items: center;
    justify-content: right;
    display: flex;
}

.right-side {
    align-items: center;
    justify-content: left;
    display: flex;
}