.body-card {
    position: absolute;
    width: auto;
    max-width: 300px;
    height: 28vh;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    aspect-ratio: 733 / 1024;
    transform: rotate(0deg);
    perspective: 1000px;
    display: flex;
}

.back-card, .front-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  aspect-ratio: 733 / 1024;
  transition: all 5s ease;
  position: absolute;
  backface-visibility: hidden;
  transition: all 5s ease;
}

.front-card {
    width: 100%;
    height: 100%;
    background-color: #fff; 
}

.back-card {
  transform: rotateY(180deg);
}

@keyframes exertedCard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
    margin: 0 7vh;
  }
}

.body-card.exerted {
    transition: all 0s ease;
    animation: exertedCard 0.5s ease-out;
    transform: rotate(90deg);
    margin: 0 7vh;
}

@keyframes flipFrontCard {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes flipBackCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.body-card.flipped .front-card {
  transform: rotateY(180deg);
}

.body-card.flipped .back-card {
  transform: rotateY(0deg);
}

.body-card.notFlipped.newCard .front-card {
    animation: flipFrontCard 0.5s ease-out;
    transform: rotateY(0deg);
}

.body-card.notFlipped.newCard .back-card {
    animation: flipBackCard 0.5s ease-out;
    transform: rotateY(180deg);
}

@keyframes drawCard {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0);
  }
}

.newCard {
  animation: drawCard 0.5s ease-out;
}

@keyframes spawn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card-animated {
  animation: spawn 0.5s ease-out;
}

.grayscale-image {
  filter: grayscale(100%) opacity(80%);
}
