.body-card {
    background-image: url('../../../images/cardBack.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: auto;
    max-width: 300px;
    height: 28vh;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 733 / 1024;
    margin: 2vh;
    transition: all 0.5s ease;
    transform: rotate(0deg);
}

/* .body-card.flipped:hover {
  transform: scale(3);
  position: absolute;
  z-index: 10;
  margin-top: -30%;
} */

.img-card {
    width: 100%;
    height: 100%;
    background-color: #fff; 
}

@keyframes exertedCard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
    margin: 0 7vh;
  }
}

.body-card.exerted {
    transition: all 0s ease;
    animation: exertedCard 0.5s ease-out;
    transform: rotate(90deg);
    margin: 0 7vh;
}

@keyframes flipCard {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

.body-card.flipped.newCard .img-card {
    animation: flipCard 0.5s ease-out;
    transform: rotateY(0);
}

@keyframes drawCard {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(0);
  }
}

.newCard {
  animation: drawCard 0.5s ease-out;
}

@keyframes spawn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card-animated {
  animation: spawn 0.5s ease-out;
}

.grayscale-image {
  filter: grayscale(100%) opacity(80%);
}